<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Multiple IFTTT Triggers</title>
    <meta name="description" content="Civ6 to Discord webhook">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Civ6 to Discord webhook
      </h1>
    </header>
    <main>
      <p class="bold">Remix this app to setup your own Civ6 - Discord thingy</p>
      <p>You want to <a href="https://glitch.com/edit/#!/project/civ6-cloud-hook-to-distord">view the code</a>, so you can see how it works and then remix me to create your own.</p>
    </main>

  </body>
</html>